<div class="form">
<div class="box-2 col-4">
  <img class="logo" alt="dribble-logo" src="https://cdn-icons-png.flaticon.com/512/889/889455.png" />
  <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false },
                        html: { class: 'flex-grow-1' }) do |f| %>
    <%= f.error_notification %>

       <div class="form-inputs h-100 d-flex flex-column">
          <div class="bo col-12">

              <%= f.input :first_name, label: "First name",
              require: true %>

              <%= f.input :last_name, label: "Last name",
              require: true %>
          </div>
          <div class="bo col-12">
          <%= f.input :pseudo, label: "Pseudo",
                    require: true %>
         <%= f.input :email,
                     required: true,
                     autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <%= f.input :photo, as: :file %>
          <%= f.input :password,
                     required: true,
                     hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                     input_html: { autocomplete: "new-password" } %>
         <%= f.input :password_confirmation,
                     required: true,
                    #  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                     input_html: { autocomplete: "new-password" } %>

        <div class="orange-btn mt-auto">
          <%= f.button :submit, "Sign up" %>
         </div>
       </div>
      <% end %>
</div>
</div>
