<h1>Matches#edit</h1>
<%= simple_form_for [@match],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>

  <%= f.input :address, collection: Match::ADDRESSES.keys %>
      <br></div>
  <%= f.input :date,
    as: :string,
            input_html: {
              data: {
                flatpickr_target: 'dateInput',
              }
            } %>
  <%= f.input :comment %>
  <%= f.input :level_rating %>
  <%= f.submit %>
<% end %>
