<!-- DIV ENGLOBANT LES CARDS ET LA MAP -->
<div class="d-flex home">
  <div class="flex-fill container-fluid mx-3 mt-4 col-8">
    <div class="row">
      <%= form_with url: matches_path, method: :get do |f| %>
        <label>
          <%= f.check_box :free_slots, {}, true, false %>
          Hide full games
        </label>
        <%= f.submit 'search' %>
      <% end %>
      <!-- ITERATION AUTOUR DE CHAQUE MATCH -->
      <% @matches.each do |match| %>
        <div class="col-6">
            <!-- CARD -->
            <%= link_to match_path(match) do %>
            <div class="card p-3 mb-3" style="background-size: cover; background-position: center; background-repeat: no-repeat; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= Match::ADDRESSES[match.address] %>);">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon">
                          <% if match.user.photo.attached? %>
                            <%= cl_image_tag match.user.photo.key, crop: :fill, gravity: :face,  class:"icon" %>
                          <% else %>
                            <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", class:"icon" %>
                          <% end %>
                        </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0 card-organizer"><%= match.user.first_name %></h6>
                        </div>
                    </div>
                    <div class="badge bg-text badge-<%= match.level_rating %>">

                          <span><%= match.category %></span>


                    </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading bg-text size-text" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)"><%= match.address[0, 25] %>...<br><%= match.date %></h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar bg-text" role="progressbar" style="width:<%=match.percentage%>%" aria-valuenow="<%=match.percentage%>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3 bg-text"> <span class="text1"><%= match.max_per_match  - match.participations.count%> spots remaining <span class="text2"><%= match.max_per_match %></span></span> </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

<!-- MAPBOX AVEC TERRAINS -->
<div class="flex-fill container-fluid mt-4 mb-3 me-3 col-4 bg-map">
<div style="width: 100%; height: calc(100vh - 66px - 1.5em); position: sticky; top: calc(66px + 1.5em);"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>

</div>
