
<div class="form">
  <div class="box-1">
    <img class="logo" alt="dribble-logo" src="https://cdn-icons-png.flaticon.com/512/889/889455.png" />
        <p class="signin">New Game</p>
         <p class="signin-text">Choose your playground, your level and the date!</p>
        <%= simple_form_for [@match],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>
            <br/>
            <%= f.input :address, :label => "Choose your Playground", collection: Match::ADDRESSES.keys%>
            <br>
            <%= f.input :date,:label => "When do you want to play",
            as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'dateInput',
                      }
                    }
            %>
            <br/>
            <%= f.input :comment, :label => "Put your message here" %>

            <%= f.input :level_rating, :label => "Choose your difficulty",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector'},
                    collection: Match::DIFFICULTY%>

            <div class="orange-btn">
              <%= f.button :submit, "Create a game" %>
            </div>
          </div>
        </div>
        <% end %>

<%#
<select class="star-rating">
    <option value="">Select a rating</option>
    <option value="3">NBA</option>
    <option value="2">Pro A</option>
    <option value="1">Distric</option>
</select>
<link href="css/star-rating.css" rel="stylesheet">


<script src="js/star-rating.js"></script>
<script>
    var stars = new StarRating('.star-rating');
</script> %>
