
<div class="container mt-3">
  <%# <div class="column"> %>


    <div class="col-6 m-auto">
      <div class="chatroom"
          data-controller="match-subscription"
          data-match-subscription-match-id-value="<%= @match.id %>"
          data-match-subscription-current-user-id-value="<%= current_user.id %>">
        <div class="player-avatar">
          <div class="d-flex left-team">
            <% @team_one.users.each do |user| %>
              <div class="cercle mx-1">
                <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, height: 70, width: 70, crop: :thumb, gravity: :face %>
                <% end %>
              </div>
            <% end %>
          </div>
          <h2>VS</h2>
          <div class="d-flex right-team">
            <% @team_two.users.each do |user| %>
              <div class="cercle mx-1">
                <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, height: 70, width: 70, crop: :thumb, gravity: :face %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <h3><%= "Discuss about the match"  %></h3>
        <div class="messages" data-match-subscription-target="messages">
          <% @match.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
          <% end %>
        </div>
        <%= simple_form_for [@match, @message],html: { data: { action: "turbo:submit-end->match-subscription#resetForm" }, class: "d-flex" } do |f|%>
          <%= f.input :content, label: false, placeholder: "Message", wrapper_html: {class: "flex-grow-1"} %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>

      </div>
    </div>
  <%# </div> %>
</div>
