
<div class="contents">

  <!-- SECTION TEAMS-->
  <div class="col-md-6 quarter part-one">
    <h4 class="p-3">Join the team of your choice</h4>
    <!-- DIV PERMETTANT L'ALIGNEMENT DES 2 CARDS L'UNE A COTE DE L'AUTRE -->
    <div class="" style="display:flex; align-items: center; justify-content: center;">
      <!-- DIV ENGLOBANT LA CARD DE LA PREMIERE EQUIPE -->
      <div class="col-4 m-4" style="">
        <div class="card">
          <p><%= @team_one.name %></p>
          <div class="mx-auto" style="display:flex;">
          <% @team_one.users.each do |user| %>
            <div class="cercle mx-1">
              <% if !user.photo.key.nil? %>
                <%= cl_image_tag user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face %>
              <% else %>
                <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", style: "height: 40px; width: 40px; border-radius: 50px;" %>
              <% end %>
            </div>
          <% end %>
          <% empty_spot = 3 - @team_one.participations.count %>
          <% empty_spot.times do %>
            <div class="empty mx-1">
                <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", style: "height: 40px; width: 40px; border-radius: 50px;" %>
            </div>
          <% end %>
          </div>
          <p class="mx-auto"><%= empty_spot %> <%= 'spot'.pluralize(empty_spot) %> <%= 'left'.pluralize(empty_spot) %></p>
          <% if @team_one.can_accept?(current_user) %>
            <%= link_to "Join the team", team_participations_path(@team_one), class: 'orange-btn', data: {turbo_method: :post} %>
          <% end %>
        </div>
      </div>
      <!-- DIV ENGLOBANT LA CARD DE LA DEUXIEME EQUIPE -->
      <div class="col-4 m-4">
        <div class="card">
          <p><%= @team_two.name %></p>
          <div class="mx-auto" style="display:flex;">
          <% @team_two.users.each do |user| %>
            <div class="cercle mx-1">
              <% if !user.photo.key.nil? %>
                <%= cl_image_tag user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face %>
              <% else %>
                <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", style: "height: 40px; width: 40px; border-radius: 50px;" %>
              <% end %>
            </div>
          <% end %>
          <% empty_spot = 3 - @team_two.participations.count %>
          <% empty_spot.times do %>
            <div class="empty mx-1">
                <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", style: "height: 40px; width: 40px; border-radius: 50px;" %>
            </div>
          <% end %>
          </div>
          <p class="mx-auto"><%= empty_spot %> <%= 'spot'.pluralize(empty_spot) %> <%= 'left'.pluralize(empty_spot) %></p>
          <% if @team_two.can_accept?(current_user) %>
            <%= link_to "Join the team", team_participations_path(@team_two), class: 'orange-btn', data: {turbo_method: :post} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION PHOTO DU TERRAIN -->
  <div class="col-md-6 quarter bg-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= Match::ADDRESSES[@match.address] %>);"></div>

  <!-- SECTION MESSAGE DE L'ORGANISATEUR -->
  <div class="col-md-6 quarter bgball part_three">
    <h4 class="p-3 part-three-text">Organizer's comment</h4>

    <!-- MISE EN FORME DU MESSAGE AVEC ASPECT CITATION BOOTSTRAP -->
    <figure class="message-orga">
      <blockquote class="blockquote px-3">
        <p class="part-three-comment"><%= @match.comment %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <%= @match.user.first_name %> - <cite title="Source Title">NBA Legend</cite>
      </figcaption>
    </figure>
  </div>

  <!-- SECTION INFOS SUR LE MATCH-->
  <div class="col-md-6 quarter" style="background-color:black; color:white;">
    <h4 class="p-3">Save the date</h4>
    <ul class="p-3 m-3">
      <li><h2 style="text-decoration:none; font-size:bold; color:#ffa502"><%= @match.date.strftime('%A %d %B') %> at <%= @match.date.strftime('%H') %>h</h2></li>
      <li>Appointment: <%= @match.address %></li>
      <li>Game level: <%= @match.category %></li>
    </ul>
    <div class="wrapper">
  <%= link_to recap_path(@match), class:"ctaa" do  %>
    <span>NEXT</span>
    <span>
      <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
        </g>
      </svg>
    </span>
  <% end %>
    </div>
  </div>
  </div>












<!--
<div class="container">
<ul>
<li><%= @match.user.first_name%> <%= @match.user.last_name %></li>
<li><%= @match.address %></li>
<li><%= @match.date %></li>
<li><%= @match.level_rating %></li>
</ul>
</div>

<div>
  <%= @team_one.name %>
  <ul>
    <% @team_one.users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
  </ul>
  <% if @team_one.can_accept?(current_user) %>
    <%= link_to "join", team_participations_path(@team_one), data: {turbo_method: :post} %>
  <% end %>
</div>

<div>
  <%= @team_two.name %>
  <ul>
    <% @team_two.users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
  </ul>
  <% if @team_two.can_accept?(current_user) %>
    <%= link_to "join", team_participations_path(@team_two), data: {turbo_method: :post} %>

  <% end %>
</div>

<% if current_user == @match.user %>
<%= link_to "delete this match", match_path(@match), data: {turbo_method: :delete} %>
<%= link_to "update this match", edit_match_path(@match)%>
<% end %>
-->
