<div class="contents">

  <!-- SECTION TEAMS-->
  <div class="col-md-6 quarter part-one">
    <h4 class="p-3">Rejoins la team de ton choix</h4>
    <!-- DIV PERMETTANT L'ALIGNEMENT DES 2 CARDS L'UNE A COTE DE L'AUTRE -->
    <div class="" style="display:flex; align-items: center; justify-content: center;">
      <!-- DIV ENGLOBANT LA CARD DE LA PREMIERE EQUIPE -->
      <div class="col-4 m-4" style="">
        <div class="card">
          <p>Team 1</p>
          <div class="mx-auto" style="display:flex;">
            <div class="cercle mx-1"></div>
            <div class="cercle mx-1"></div>
            <div class="empty mx-1"></div>
          </div>
          <p class="mx-auto">1 place restante</p>
          <button type="button" class="btn btn-dark">Rejoindre sa team</button>
        </div>
      </div>
      <!-- DIV ENGLOBANT LA CARD DE LA DEUXIEME EQUIPE -->
      <div class="col-4 m-4">
        <div class="card">
          <p>Team 2</p>
          <div class="mx-auto" style="display:flex;">
            <div class="cercle mx-1"></div>
            <div class="empty mx-1"></div>
            <div class="empty mx-1"></div>
          </div>
          <p class="mx-auto">2 places restantes</p>
          <button type="button" class="btn btn-dark">Rejoindre sa team</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION PHOTO DU TERRAIN -->
  <div class="col-md-6 quarter" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= Match::ADDRESSES[@match.address] %>);"></div>

  <!-- SECTION MESSAGE DE L'ORGANISATEUR -->
  <div class="col-md-6 quarter bgball part_three">
    <h4 class="p-3 part-three-text">Message de l'organisateur</h4>

    <!-- MISE EN FORME DU MESSAGE AVEC ASPECT CITATION BOOTSTRAP -->
    <figure class="p-5 m-5">
      <blockquote class="blockquote">
        <p class="part-three-comment"><%= @match.comment %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <%= @match.user.first_name %> - <cite title="Source Title">NBA Legend</cite>
      </figcaption>
    </figure>
  </div>

  <!-- SECTION INFOS SUR LE MATCH-->
  <div class="col-md-6 quarter" style="background-color:black; color:white;">
    <h4 class="p-3">Retiens-bien</h4>
    <ul class="p-3 m-3">
      <li><h2 style="text-decoration:none; font-size:bold;"><%= @match.date.strftime('%A %d %B') %> à <%= @match.date.strftime('%H') %>h</h2></li>
      <li>Rendez-vous au <%= @match.address %></li>
      <li>Niveau de jeu <%= @match.category %></li>
    </ul>
  </div>
</div>

<!--
<div class="container">
<ul>
<li><%= @match.user.first_name%> <%= @match.user.last_name %></li>
<li><%= @match.address %></li>
<li><%= @match.date %></li>
<li><%= @match.level_rating %></li>
</ul>
</div>

<div>
  <%= @team_one.name %>
  <ul>
    <% @team_one.users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
  </ul>
  <% if @team_one.can_accept?(current_user) %>
    <%= link_to "join", team_participations_path(@team_one), data: {turbo_method: :post} %>
  <% end %>
</div>

<div>
  <%= @team_two.name %>
  <ul>
    <% @team_two.users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
  </ul>
  <% if @team_two.can_accept?(current_user) %>
    <%= link_to "join", team_participations_path(@team_two), data: {turbo_method: :post} %>

  <% end %>
</div>

<% if current_user == @match.user %>
<%= link_to "delete this match", match_path(@match), data: {turbo_method: :delete} %>
<%= link_to "update this match", edit_match_path(@match)%>
<% end %>

<%= link_to "JOIN THE GAME", recap_path(@match)%>
-->
